<!DOCTYPE html>
<html>
<head>
	<!-- INCLUDE meta.html -->
	<title>设置 - {$config.site_name}</title>
</head>
<body>

<!-- INCLUDE header.html -->

<div id="container" class="row-fluid">
	<!-- INCLUDE sidebar.html -->
	<div class="span10" style="padding-top:10px;">
		<!-- INCLUDE crumbs.html -->
		<div id="content-container">
			<form id="change-password-form" class="form-horizontal" method="post">
				<div class="control-group">
					<label class="control-label" for="password">原密码：</label>
					<div class="controls">
						<input type="password" id="password" name="password" placeholder="密码" required>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="newPassword">新密码：</label>
					<div class="controls">
						<input type="password" id="newPassword" name="newPassword" placeholder="密码" required>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="confirmNewPassword">重复新密码：</label>
					<div class="controls">
						<input type="password" id="confirmNewPassword" name="confirmNewPassword" placeholder="请重复输入密码" required>
					</div>
				</div>
				<div class="controls">
					<button id="submit-pwd" type="submit" class="btn">提交</button>
				</div>
			</form>
		</div>
		<!-- INCLUDE footer.html -->
	</div>
</div>


<!-- INCLUDE script.html -->
<script type="text/javascript">
$(function() {
	$("#change-password-form").submit(function(evt) {
		evt.preventDefault();
	
		var data = {};
		$(this).find('input[name]').each( function() {
			data[$(this).attr('name')] = $(this).val();
		});

		if (data.newPassword != data.confirmNewPassword) {
			alert("两次输入的密码不一致。");
			return false;
		}

		$("#submit-pwd").attr('disabled','disabled').addClass('disabled').val("保存中...");

		$.post("?p=profile",data,function(s) {
				$("#submit-pwd").removeAttr('disabled').removeClass('disabled').val("保存");
				if (s == 'ok')
				{
					alert("修改成功。");
				}
				else
				{
					alert(s);
				}
			},'text');
		return false;
	});
});
</script>
</body>
</html>