<script type="text/javascript" src="jqueryui/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="jqueryui/js/jquery-ui.1.10.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<!--[if IE]><script src="js/iehack.js"></script><![endif]-->  
<script>
$.(function() {
	if ($.browser.msie && $.browser.version < 7) {
		alert('您使用的浏览器版本太低！\n
			我们的系统支持 IE7+, Firefox, Chrome, Safari等主流浏览器。\n为了获得最好的用户体验，我们强烈建议您使用Chrome,Firefox,Safari等非IE内核浏览器!');
	}
});
</script>