<!DOCTYPE html>
<html>
<head>
	<!-- INCLUDE meta.html -->
	<title>位置服务 - {$config.site_name}</title>
</head>
<body>

<!-- INCLUDE header.html -->


<div id="container" class="row-fluid">
	<!-- INCLUDE sidebar.html -->
	<div class="span10" style="margin-top:10px;">
		<!-- INCLUDE crumbs.html -->
		<div id="content-container">
			<div id="query" class="row">
				<form id="query-form" class="form-horizontal" method="post">
					<div class="span4 control-group">
						<label class="control-label" for="">车载号码：</label>
					    <div class="controls">
					      <input type="text" id="" placeholder="">
					    </div>
					</div>
					<div class="span5">
						<label class="control-label" for="">时间：</label>
					    <div class="controls">
					      <input type="text" id="" class="input-small" placeholder="">至<input type="text" id="" class="input-small"  placeholder="">
					    </div>
					</div>
					<div class="span3">
						<button type="submit" class="btn">查询</button>
					</div>
				</form>
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>车载号码</th>
						<th>发动机转速</th>
						<th>速度</th>
						<th>运行时间</th>
						<th>MIL后行驶距离</th>
						<th>燃料压力</th>
						<th>控制模块电压</th>
						<th>环境温度</th>
						<th>采集时间</th>
						<th>查看</th>
					</tr>
					</thead>
					<tbody>
						<tr>
							<td>11111111111</td>
							<td>1000</td>
							<td>100km/h</td>
							<td>30min</td>
							<td>50m</td>
							<td>1000</td>
							<td>100V</td>
							<td>30°</td>
							<td>2013-7-25 15:00</td>
							<td><a href="#">详细</a></td>
						</tr>
						<tr>
							<td>11111111111</td>
							<td>1000</td>
							<td>100km/h</td>
							<td>30min</td>
							<td>50m</td>
							<td>1000</td>
							<td>100V</td>
							<td>30°</td>
							<td>2013-7-25 15:00</td>
							<td><a href="#">详细</a></td>
						</tr>
						<tr>
							<td>11111111111</td>
							<td>1000</td>
							<td>100km/h</td>
							<td>30min</td>
							<td>50m</td>
							<td>1000</td>
							<td>100V</td>
							<td>30°</td>
							<td>2013-7-25 15:00</td>
							<td><a href="#">详细</a></td>
						</tr>
					</tbody>
			</table>
		</div>
		<!-- INCLUDE footer.html -->
	</div>
</div>

	
<!-- INCLUDE script.html -->
<script type="text/javascript">
</script>
</body>
</html>