<div id="admin_left">
  <div id="admin_left_b">
    <div class="module">
      <h2><span><a href="javascript:alert('尚未开启');"><img src="images/left_mk_x.png" width="8" height="4" /></a></span>快速链接</h2>
      <table width="187" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><a href="#" target="mainFrame">文章管理</a></td>
          <td><a href="#" target="mainFrame">文章管理</a></td>
        </tr>
        <tr>
          <td><a href="#" target="mainFrame">文章管理</a></td>
          <td><a href="#" target="mainFrame">文章管理</a></td>
        </tr>
      </table>
      <p><span><img src="images/left_icon1.png" width="15"  height="15" /></span><span><img src="images/left_icon2.png" width="11" height="14" /></span></p>
      <form action="#" method="post">
        <p><input type="text" class="search_i" /><input type="submit" value="功能搜索" class="search_s" /></p>
      </form>
    </div>
    <div class="module">
      <h2><span><a href="javascript:alert('尚未开启');"><img src="images/left_mk_d.png" width="12" height="12" /></a></span>栏目列表</h2>
    内容测试哈哈哈
    </div>
     <div class="module">
      <h2>网站管理</h2>
      <dl>
      <dt><a href="#">栏目列表</a></dt>
      <dd>
      <ul>
      <li><a href="#">栏目列表</a></li>
      <li><a href="#">栏目列表</a></li>
      <li><a href="#">栏目列表</a></li>
      </ul>
      </dd>
       <dt><a href="#">视频分类</a></dt>
      <dd>
      <ul>
       <li><a href="#">栏目列表</a></li>
      <li><a href="#">栏目列表</a></li>
      <li><a href="#">栏目列表</a></li>
      </ul>
      </dd>
       <dt><a href="#">嘉宾分类</a></dt>
      <dd>
      <ul>
       <li><a href="#">栏目列表</a></li>
      <li><a href="#">栏目列表</a></li>
      <li><a href="#">栏目列表</a></li>
      </ul>
      </dd>
      </dl>
    </div>
  </div>
</div>